
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");

:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	
	--link-color: #14b8a6;
    ---body-color:#E9E5E5;
    --body3-color:#EEA302;
    --body2-color:#F3F3F3;


	/* ------- fonts ------- */
	
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Intro Section */
.intro {
    background-image: url("../../images/bgpic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    color: #f3f3f3;
}

.logo {
    margin-left: 55px;
    display: flex;
    gap: 0.6rem;
}

.eclipse {
    width: 32px;
    height: 36px;
    background-color: #eea302;
    border-radius: 50%;
    display: inline-block;
}

.logot {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.title {
    position: absolute;
    top: 264px;
    left: 139px;
    font-size: 3rem;
}

.desc {
    position: absolute;
    top: 404px;
    left: 139px;
    width: 568px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:25px;
    /* border: 2px solid red; */

    margin: 0 40px;
 }
 ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 100px;
    width: 35%;
    font-size: 15px;
    font-weight: 600;
 }
 li{
    list-style-type: none;
    color: white;
 }
 li:hover{
    color: var(--link-color);
 }
 li a{
    color: white;
    text-decoration: none;
 }
 li a:hover{
    color: var(--link-color);
    
 }

/* Links Section */
/* .links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.cardstitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.cardscontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 15px;
    margin: 0 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    text-align: center;
    width: auto;
    height: 400px;
    max-width: calc(90% - 30px);
    transition: transform 0.3s, box-shadow 0.3s;
    flex-direction: column;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.card:hover .name {
    background-color: rgba(0, 0, 0, 0.8);
}


.footer {
    background-color: #787878;
    color: #f3f3f3;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    width: 100%;
    border-top: 1px solid #eea302;
}

.footer:hover {
    background-color: #787878;
    transition: background-color 0.3s ease;
}


@media (max-width: 1024px) {
    .cardscontainer {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    
    .card {
        height: 500px;
        max-width: calc(100% - 20px);
    }
}

@media (max-width: 768px) {
    .cardscontainer {
        grid-template-columns: repeat(1, minmax(250px, auto));
        padding: 0 0.5rem;
    }
    
    .card {
        height: 400px;
        max-width: calc(100% - 20px);
    }
    
    .name {
        font-size: 1rem;
    }
    
    .footer {
        font-size: 0.8rem;
        padding: 15px 0;
    }
    
    .title, .desc {
        left: 20px;
        width: calc(100% - 40px);
    }
    
    .title {
        font-size: 2.5rem;
    }
    
    .desc {
        font-size: 1.2rem;
    }
} */